@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
}

body {
    background-color: #363636;
    font-family: 'Lato', sans-serif;
}

.navbar-container {
    width: 100%;
    height: 100%;
    background-color: #F5F5F5;
}
  
nav {
  position: relative;
}
  
.logo {
  width: 100px;
  margin-top: 10px;
  margin-left: 50px;
}
  
.navbar-items {
  position: absolute;
  right: 14px;
  height: 80px;
  line-height: 80px;
  margin: 0;
  display: inline-block;
}
  
.navbar-items li {
  display: inline-block;
  text-transform: uppercase;
  margin-left: 30px;
  font-size: 18px;
  margin-top: 10px;
}
  
.navbar-items a {
  color: #363636;
  text-decoration: none;
  transition: 0.5s;
}
  
.navbar-items a:hover {
  color: #ccc;
}

.a1 {
  padding: 15px;
}

.slider {
  margin: 0 auto;
  width: 100%;
  height: 450px;
  overflow: hidden;
}

.slides {
  width: 400%;
  height: 400px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 25%;
  position: relative;
  transition: 2s;
}

.slide img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -25%;
}

#radio3:checked ~ .first {
  margin-left: -50%;
}

#radio4:checked ~ .first {
  margin-left: -75%;
}

.news {
  text-align: center;
  padding-top: 20px;
  color: #F5F5F5;
  font-size: 18px;
}