@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
}

body {
  background-color: #363636;
  font-family: "Lato", sans-serif;
}

.navbar-container {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
}

nav {
  position: relative;
}

.logo {
  width: 100px;
  margin-top: 10px;
  margin-left: 50px;
}

.navbar-items {
  position: absolute;
  right: 14px;
  height: 80px;
  line-height: 80px;
  margin: 0;
  display: inline-block;
}

.navbar-items li {
  display: inline-block;
  text-transform: uppercase;
  margin-left: 30px;
  font-size: 18px;
  margin-top: 10px;
}

.navbar-items a {
  color: #363636;
  text-decoration: none;
  transition: 0.5s;
}

.navbar-items a:hover {
  color: #ccc;
}

.a1 {
  padding: 15px;
}

.slider {
  margin: 0 auto;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.slides {
  width: 400%;
  height: 400px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 25%;
  position: relative;
  transition: 2s;
}

.slide img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -25%;
}

#radio3:checked ~ .first {
  margin-left: -50%;
}

#radio4:checked ~ .first {
  margin-left: -75%;
}

.title-news {
  text-align: center;
  color: #f5f5f5;
  font-size: larger;
  padding: 25px 0;
}

.news-list {
  list-style: none;
  padding: 10px 10px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.news-item {
  width: 30%;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  color: #363636;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.news-item a {
  text-decoration: none;
  color: inherit;
  transition: 0.5s;

}

.news-item a:hover {
  color: #ccc;
}

.news-item h3 {
  font-size: 20px;
  margin: 0 0 10px 0;
}

.news-item p {
  font-size: 16px;
  margin: 0;
}

.rodape {
  background-color: #f5f5f5;
  color: #363636;
  height: auto;
  width: 100%;
  font-size: 16px;
}
.rodape a {
  text-decoration: none;
  color: #363636;
}
.rodape p {
  margin-bottom: 5px;
}
.rodape-div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  align-items: stretch;
  padding: 25px 0 10px 10px;
}
.rodape-div-1, .rodape-div-2, .rodape-div-3 {
  display: flex;
  width: calc(100% / 3 - 20px);
  padding: 10px;
}
.rodape span{
  font-size: 20px;
  color: #363636;
}
.rodape-direitos {
  width: calc(100% - 20px);
  background-color: black;
  padding: 10px;
  margin: 0px;
  text-align: center;
}

/*mobile*/
@media (max-width: 768px) {
  .rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4{
      width: calc(50% - 20px);
      padding: 10px;
  }
  .rodape-div{
      padding: 60px 0px 40px 0px;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #727272;
}