@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

:root {
  --cor-branco1: #f5f5f5;
  --cor-preto1: #363636;
  --cor-cinza1: #ccc;
  --cor-azul1: #1d1f5c;
  --cor-azul2: #2e3192;
  --cor-azul3: #9a9de7;
}

body {
  background-color: var(--cor-preto1);
  font-family: "Lato", sans-serif;
}

header {
  width: 100%;
  height: 100%;
  background-color: var(--cor-branco1);
}

nav {
  position: relative;
}

#logo {
  width: 100px;
  margin-top: 10px;
  margin-left: 50px;
  color: var(--cor-branco1);
  display: inline-block;
}

.navbar-items {
  position: absolute;
  right: 14px;
  height: 80px;
  line-height: 80px;
  margin: 0;
  display: inline-block;
}

.navbar-items li {
  display: inline-block;
  text-transform: uppercase;
  margin-left: 30px;
  font-size: 2rem;
  margin-top: 10px;
}

.navbar-items a {
  color: var(--cor-preto1);
  text-decoration: none;
  transition: 0.5s;
}

.navbar-items a:hover {
  color: var(--cor-cinza1);
}

#login1 {
  padding: 15px;
  color: var(--cor-branco1);
  background-color: var(--cor-preto1);
  border-radius: 10px;
}

#login1:hover {
  background-color: var(--cor-cinza1);
}

.slider {
  margin: 0 auto;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.slides {
  width: 400%;
  height: 400px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 25%;
  position: relative;
  transition: 2s;
}

.slide img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -25%;
}

#radio3:checked ~ .first {
  margin-left: -50%;
}

#radio4:checked ~ .first {
  margin-left: -75%;
}

.news {
  padding: 25px 0;
}

.title-news {
  text-align: center;
  color: var(--cor-branco1);
  font-size: 2rem;
  padding-bottom: 25px;
}

.news-list {
  list-style: none;
  padding: 10px 10px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.news-item {
  width: 30%;
  margin-bottom: 20px;
  background-color: var(--cor-branco1);
  color: var(--cor-preto1);
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.news-item a {
  text-decoration: none;
  color: inherit;
  transition: 0.5s;
}

.news-item a:hover {
  color: var(--cor-cinza1);
}

.news-item h3 {
  font-size: 2rem;
  margin: 0 0 10px 0;
}

.news-item p {
  font-size: 1.6rem;
  margin: 0;
}

.title-numbers {
  text-align: center;
  background-color: var(--cor-branco1);
  color: var(--cor-preto1);
  font-size: 2rem;
  padding: 25px 0;
}

.numbers-list {
  list-style: none;
  padding: 10px 10px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--cor-branco1);
}

.number-item {
  width: 30%;
  margin-bottom: 20px;
  color: var(--cor-preto1);
  padding: 10px 0 10px 10pxpx;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.number-item h3 {
  font-size: 1.75rem;
  margin: 0 0 10px 0;
}

span {
  color: #2e3094;
  font-size: 2.5rem;
}

.history {
  padding: 25px 0;
}

.title-history {
  text-align: center;
  color: var(--cor-branco1);
  font-size: 2rem;
  padding-bottom: 25px;
}

.our-history1 {
  color: var(--cor-branco1);
  font-size: 1.6rem;
  width: 50%;
  line-height: 2.5rem;
  margin-left: 25%;
  padding-bottom: 20px;
}

.our-history2 {
  color: var(--cor-branco1);
  font-size: 1.6rem;
  width: 50%;
  line-height: 2.5rem;
  margin-left: 25%;
}

.information {
  text-align: center;
}

.information-p {
  color: var(--cor-branco1);
  font-size: 1.6rem;
  width: 50%;
  line-height: 2.5rem;
  margin-left: 25%;
  padding-bottom: 20px;
}

.information-p1 {
  color: var(--cor-branco1);
  font-size: 1.6rem;
  width: 50%;
  line-height: 2.5rem;
  margin-top: 2rem;
  margin-left: 25%;
  padding-bottom: 20px;
}

.provide {
  background-color: var(--cor-branco1);
  padding: 25px 0;
}

.title-provide {
  text-align: center;
  color: var(--cor-preto1);
  font-size: 2rem;
  padding-bottom: 25px;
}

hr {
  margin: 20px 0;
}

.we-provide {
  text-align: center;
  font-size: 1.6rem;
  width: 50%;
  line-height: 2.5rem;
  margin-left: 25%;
  list-style-type: none;
}

.schedules {
  padding: 25px 0;
}

.title-schedules {
  text-align: center;
  color: var(--cor-branco1);
  font-size: 2rem;
  padding-bottom: 25px;
}

.our-schedules {
  color: var(--cor-branco1);
  text-align: center;
  font-size: 1.6rem;
  width: 50%;
  line-height: 2.5rem;
  margin-left: 25%;
}

.technician {
  background-color: var(--cor-preto1);
  padding: 25px 0;
}

.title-technician {
  text-align: center;
  color: var(--cor-branco1);
  font-size: 2rem;
  padding-bottom: 25px;
}

.our-technician {
  color: var(--cor-branco1);
  font-size: 1.6rem;
  width: 50%;
  line-height: 2.5rem;
  margin-left: 25%;
  padding-bottom: 20px;
}

.our-technician-li {
  color: var(--cor-branco1);
  font-size: 1.6rem;
  width: 50%;
  line-height: 2.5rem;
  margin-left: 40%;
  padding-bottom: 20px;
}

.download1 {
  text-align: center;
}

.download {
  font-size: 1.5rem;
  padding-bottom: 20px;
  color: var(--cor-branco1);
}

.download:hover {
  font-size: 1.5rem;
  padding-bottom: 20px;
  color: var(--cor-azul3);
}

.rodape {
  background-color: var(--cor-branco1);
  color: var(--cor-preto1);
  height: auto;
  width: 100%;
  font-size: 1.6rem;
}
.rodape a {
  text-decoration: none;
  color: var(--cor-preto1);
}

.rodape-div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  align-items: stretch;
  padding: 25px 0 10px 0;
}

.rodape-div-1,
.rodape-div-2,
.rodape-div-3 {
  display: flex;
  width: calc(100% / 3 - 20px);
  display: flex;
  justify-content: center;
  padding: 10px;
}

.rodape span {
  font-size: 20px;
  color: var(--cor-branco1);
}

.rodape-direitos {
  background-color: var(--cor-preto1);
  padding: 10px 0;
  text-align: center;
  color: var(--cor-branco1);
  width: 100%;
}

/*mobile*/
@media (max-width: 805px) {
  header {
    height: 575px;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }

  #logo {
    display: inline-block;
    position: absolute;
    margin: 0 auto;
    left: 38%;
  }

  .navbar-items {
    position: static;
    text-align: center;
    width: 100%;
    margin-top: 75px;
  }

  .navbar-items li {
    display: block;
    margin: 10px 0;
  }

  #login1 {
    padding: 15px;
  }

  .news {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .news-item {
    width: 80%;
    padding: 10px 10%;
    display: block;
    text-align: center;
  }

  .rodape-div {
    display: flex;
    flex-direction: column;
  }

  .rodape-div-1,
  .rodape-div-2,
  .rodape-div-3 {
    width: 50%;
    padding: 10px;
    display: block;
    text-align: center;
    padding: 60px 25% 40px 25%;
  }
}

/*scrollbar*/
::-webkit-scrollbar {
  background: transparent;
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #d3d1cb;
}

::-webkit-scrollbar-track {
  background: var(--cor-branco1);
}
